#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  background-image: url(./images/body-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Nunito;
}
.home-head-h1{
  color: #fff;
}
.home-app-name{
  color: #8FB2F5;
}
