@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  background-image: url(./images/body-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Nunito;
  background-position: center;
  height: 100vh;
  background-color: #131319;
}
.heading-md{
  color: #fff;
  font-size:20px;
}
.home-app-name{
  color: #8FB2F5;
}
